In [17]:
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
import os

In [27]:
file_path = 'datasets'

In [30]:
files_path = os.listdir(file_path)

In [31]:
files_path

['hotel_bookings.csv']

In [33]:
data = pd.read_csv(file_path + '/' + files_path[0])

In [ ]:
# Hotel (H1 = Resort Hotel or H2 = City Hotel)
# Value indicating if the booking was canceled (1) or not (0)
# Number of days that elapsed between the entering date of the booking into the PMS and the arrival date
# Year of arrival date
# Month of arrival date
# Week number of year for arrival date
# Day of arrival date
# Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel
# Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel
# Number of adults
# Number of children
# Number of babies
# Type of meal booked. Categories are presented in standard hospitality meal packages: Undefined/SC – no meal 
# Country of origin. Categories are represented in the ISO 3155–3:2013 format
# Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”
# Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”

In [37]:
data.columns[data.isna().sum() > 0]

Index(['children', 'country', 'agent', 'company'], dtype='object')

In [43]:
data[data['country'].isna()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
30,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,No Deposit,NaN,NaN,0,Transient,62.0,0,2,Check-Out,2015-07-15
4127,Resort Hotel,1,0,2016,February,8,15,0,0,0,...,No Deposit,NaN,383.0,0,Transient,0.0,0,0,Canceled,2016-02-15
7092,Resort Hotel,1,8,2016,July,30,21,0,1,1,...,No Deposit,NaN,204.0,0,Transient,73.0,0,2,Canceled,2016-07-20
7860,Resort Hotel,1,39,2016,August,36,30,0,5,2,...,No Deposit,NaN,NaN,0,Transient,159.0,0,5,Canceled,2016-07-22
8779,Resort Hotel,1,0,2016,October,42,13,0,1,1,...,No Deposit,NaN,457.0,0,Transient,50.0,0,0,Canceled,2016-10-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65908,City Hotel,1,0,2017,April,15,10,0,0,0,...,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled,2017-04-10
65909,City Hotel,1,0,2017,April,15,10,0,0,0,...,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled,2017-04-10
65910,City Hotel,1,0,2017,April,15,10,0,0,0,...,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled,2017-04-10
80830,City Hotel,0,4,2015,November,48,23,1,2,1,...,No Deposit,37.0,NaN,0,Transient-Party,70.0,0,0,Check-Out,2015-11-26
101488,City Hotel,0,1,2016,November,47,13,2,2,2,...,No Deposit,14.0,NaN,0,Group,105.0,0,1,Check-Out,2016-11-17